* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "FS";
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  text-align: center;
  /* height: 100vh; */
  padding: 80px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.child-container {
  margin-top: 110px;
}
.flag {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 10%;
}

.title {
  color: #005bbb;
  font-size: 5vw;
}

.message {
  color: #005bbb;
  font-size: 1.7vw;
}

.dark-message {
  color: rgb(4, 4, 4);
  line-height: 50px;
}

.purple-message {
  color: rgb(99, 42, 134);
}

.header-message {
  color: rgb(91, 144, 186);
  font-size: 3vw;
  margin-bottom: 50px;
}

.apply_button {
  color: #005bbb;
  background-color: #ffd400;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 1.7vw;
  width: 20;
  text-decoration: none;
  transition: 0.3s;
}

.apply_button:hover {
  background-color: #005bbb;
  color: #ffd400;
}

.purple:hover {
  background-color: rgb(99, 42, 134);
}

.dark:hover {
  background-color: rgb(91, 144, 186);
}

.slava {
  font-size: 3vw;
  color: #ffd400;
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  margin-top: 60px;
}

.partners {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button_container {
  margin-top: 50px;
}

.image-container {
  width: 20%;
  height: 4vw;
}

.social-icons {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons div a img {
  width: 50px;
  height: 50px;
}

.fb_icon {
  margin-right: 20px;
}

.image-container img {
  height: 100%;
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (max-width: 1300px) {
  body {
    padding: 60px 20px;
  }
  .flag {
    top: 60px;
    right: 20px;
    width: 15%;
  }
  .message {
    font-size: 2.2vw;
    line-height: 55px;
  }

  .apply_button {
    font-size: 3vw;
  }

  .slava {
    font-size: 3vw;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 6vw;
  }
  .message {
    font-size: 3vw;
    line-height: 45px;
  }

  .header-message {
    margin-bottom: 20px;
  }

  .child-container {
    margin-top: 60px;
  }

  .apply_button {
    font-size: 3vw;
    padding: 5px 10px;
  }

  .slava {
    font-size: 5vw;
  }
  .social-icons div a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 6vw;
  }
  .message {
    font-size: 5vw;
    line-height: 35px;
  }

  .header-message {
    margin-bottom: 20px;
  }

  .child-container {
    margin-top: 40px;
  }

  .apply_button {
    font-size: 3vw;
    padding: 5px 10px;
  }

  .slava {
    font-size: 5vw;
  }
}
